body {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    color: #0bae0a;
    margin: 0;
    padding: 0;
}
header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
}
h1 {
    margin: 0;
    font-size: 2.5em;
}
p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 600px;
}